* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: slategray;
  }
  
  header {
    grid-area: header;
    color: palevioletred;
    padding: 10px;
    font-family: 'Gill Sans';
    font-size: 200%;
    text-align: center;
    background-image: url('./narwhal.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  main {
    grid-area: main;
    color: indianred;
    padding: 10px;
    text-align: center;
    height: 1000px;
    font-size: 20pt;
    background-color: powderblue;

  }
  
  
  img {
    width: 25%;
  }
